<div class="container-fluid">
  <div class="row vh-100 d-flex justify-content-center align-items-center">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="card">
        <div class="card-body">
          <div class="text-center">
            <img src="../../../assets/images/Optechx-Logo-1-2048x514 1.png" class="img">
            <p class="font-style mt-4">Sign Up</p>
            <p>Already have an account? <a>Log In</a></p>
          </div>
          <div class="row">
            <div class="col-md-6 col-sm-12 col-12">
              <form [formGroup]="signUpForm">
                <div class="form-group">
                  <label class="font-size">Email</label>
                  <input type="text" class="form-control" formControlName="email"/>
                </div>
                <div class="form-group">
                  <label class="font-size">Password</label>
                  <input type="password" class="form-control" formControlName="password"/>
                </div>
                <div class="form-group">
                  <label class="font-size">Confirm Password</label>
                  <input type="password" class="form-control" formControlName="email"/>
                </div>
                <div class="form-group">
                  <label class="font-size">Country</label>
                  <select class="form-control">
                    <option value="">Select Country</option>
                  </select>
                </div>
                <label>
                  <input type="checkbox"> I accept terms & conditions.
                </label>
                <button class="btn btn-primary text-white p-3 mt-2">CONTINUE</button>
              </form>
            </div>
            <div class="col-md-1">
              <div class="vertical"></div>
            </div>
            <div class="col-md-5 col-sm-12 col-12">
              <label class="font-size">Or Connect with Us</label>
              <div class="row media">
                <button class="btn btn-microsoft p-3 font-size"><img src="../../../assets/images/windows.png"/><span>Connect With Microsoft</span></button>
                <button class="btn btn-twitter p-3 mt-4 font-size"><img src="../../../assets/images/Group 217.png"/><span>Connect With Twitter</span></button>
                <button class="btn btn-google p-3 mt-4 font-size"><img src="../../../assets/images/google.png"/><span>Connect With Google</span></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
