<div class="container-fluid">
  <div class="row vh-100 d-flex justify-content-center align-items-center">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="card p-3">
        <div class="card-body">
          <div class="text-center">
            <img src="../../../assets/images/Optechx-Logo-1-2048x514 1.png" class="img">
            <p class="font-style mt-4">Forgot Password</p>
            <!-- <p class="f">Welcome back. Please login to your account</p> -->
          </div>
          <div class="row p-3 mt-3">
            <div class="col-md-12">
              <form [formGroup]="">
                <label class="font-size mt-1">Enter your email</label>
                <input type="text" class="form-control p-4" formControlName="email" placeholder="Enter your email"/>
                <div class="wrapper text-center">
                  <button class="btn btn-primary text-white p-3 mt-5">SUBMIT</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
