<div class="container">
  <div class="row">
    <div class="col-md-2">
      <div class="card">
        <h1>card-1</h1>
      </div>
    </div>
    <div class="col-md-2">
      <div class="card">
        <h1>card-2</h1>
      </div>
    </div>
    <div class="col-md-2">
      <div class="card">
        <h1>card-3</h1>
      </div>
    </div>
    <div class="col-md-2">
      <div class="card">
        <h1>card-4</h1>
      </div>
    </div>
    <div class="col-md-2">
      <div class="card">
        <h1>card-5</h1>
      </div>
    </div>
  </div>
</div>
