<!-- <div class="container"> -->
  <div class="container-fluid">
    <div class="card">
      <div class="card-body">
        <div class="row mt-n4 mb-n5">
          <!-- <div class="text-center"> -->
            <img src="../../../assets/images/Optechx-Logo-1-2048x514 1.png" class="img">
          <!-- </div> -->
        </div>
      </div>
    </div>
    <div class="card mt-2">
      <div class="card-body">
        <div class="row mt-n3">
          <div class="col-md-12">
            <p class="plans">OptechX Plans</p>
            <span class="p">All plans start with a 7-day or a 14-day free trial. Invoicing available for Business and Enterprise customers.</span><br>
            <span class="p">"For any questions, please refer our FAQs section."</span>

            <table class="table table-bordered mt-3">
              <thead>
                <tr>
                  <th></th>
                  <th class="text-center">
                    <p class="font-weight-bold">Free</p>
                    <hr>
                    <p>Contact Us</p>
                    <p>Core Functionalities</p>
                    <button class="btn btn-primary">Select Plan</button>
                  </th>
                  <th class="text-center">
                    <p class="font-weight-bold">Standard</p>
                    <hr/>
                    <p>Contact Us</p>
                    <p>Core Functionalities</p>
                    <button class="btn btn-primary">Select Plan</button>
                  </th>
                  <th class="text-center">
                    <p class="font-weight-bold">Professional</p>
                    <hr/>
                    <p>Contact Us</p>
                    <p>Core Functionalities</p>
                    <button class="btn btn-primary">Select Plan</button>
                  </th>
                  <th class="text-center">
                    <p class="font-weight-bold">Business</p>
                    <hr/>
                    <p>Contact Us</p>
                    <p>Core Functionalities</p>
                    <button class="btn btn-primary">Select Plan</button>
                  </th>
                  <th class="text-center">
                    <p class="font-weight-bold">Enterprise</p>
                    <hr/>
                    <p>Contact Us</p>
                    <p>Core Functionalities</p>
                    <button class="btn btn-primary">Select Plan</button>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Include Seats</td>
                  <td class="text-center">100 Seats</td>
                  <td class="text-center">1000 Seats</td>
                  <td class="text-center">2000 Seats</td>
                  <td class="text-center">4000 Seats</td>
                  <td class="text-center">4000+ Seats</td>
                </tr>
                <tr>
                  <td>Include Seats</td>
                  <td class="text-center">100 Seats</td>
                  <td class="text-center">1000 Seats</td>
                  <td class="text-center">2000 Seats</td>
                  <td class="text-center">4000 Seats</td>
                  <td class="text-center">4000+ Seats</td>
                </tr>
                <tr>
                  <td>Include Seats</td>
                  <td class="text-center">100 Seats</td>
                  <td class="text-center">1000 Seats</td>
                  <td class="text-center">2000 Seats</td>
                  <td class="text-center">4000 Seats</td>
                  <td class="text-center">4000+ Seats</td>
                </tr>
                <tr>
                  <td>Include Seats</td>
                  <td class="text-center">100 Seats</td>
                  <td class="text-center">1000 Seats</td>
                  <td class="text-center">2000 Seats</td>
                  <td class="text-center">4000 Seats</td>
                  <td class="text-center">4000+ Seats</td>
                </tr>
                <tr>
                  <td>Include Seats</td>
                  <td class="text-center">100 Seats</td>
                  <td class="text-center">1000 Seats</td>
                  <td class="text-center">2000 Seats</td>
                  <td class="text-center">4000 Seats</td>
                  <td class="text-center">4000+ Seats</td>
                </tr>
              </tbody>
            </table>

          </div>
        </div>
      </div>
    </div>
  </div>
<!-- </div> -->
