hr.hr{
  border: 2px solid #EFF3FC;
}
.card{
  border: 1px solid #E6E9FF;
  box-sizing: border-box;
  border-radius: 19.0044px;
}
.card-1{
  background: #F1F3FF;
}
.card-2{
  background: #FFF1F2;
}
.card-3{
  background: #F1FCFF;
}
.card-4{
  background: #F7F1FF;
}
.card-5{
  background: #EFF3FC;
  border: 1px solid #D8D8FA;
  box-sizing: border-box;
  border-radius: 10px;
}
