<hr class="hr">
<div class="row ml-4">
  <h3>Dashboard</h3>
</div>
<div class="row pl-4 pr-4">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-3">
        <div class="card card-1">
          <div class="card-body">
            <p>Card1</p>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card card-2">
          <div class="card-body">
            <p>Card1</p>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card card-3">
          <div class="card-body">
            <p>Card1</p>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card card-4">
          <div class="card-body">
            <p>Card1</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row pl-4 pr-4 mt-3">
  <div class="col-md-7">
    <div class="card card-5">
      <div class="card-body">
        <div class="row mt-n3">
          <h4 class="font-weight-bold">Build History</h4>
          <table class="table">
            <thead>
              <tr>
                <th>Order ID</th>
                <th>Category</th>
                <th>Size</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-5">
    <div class="card card-5">
      <div class="card-body">
        <div class="row mt-n3">
          <h4 class="font-weight-bold">Latest Updates</h4>
          <table class="table">
            <thead>
              <tr>
                <th>Product</th>
                <th>Version</th>
                <th>Category</th>
              </tr>
            </thead>
            <tbody>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row pl-4 pr-4 mt-3">
  <div class="col-md-4">
    <div class="card card-5">
      <div class="card-body">
        <div class="row mt-n3">
          <h4 class="font-weight-bold">Number Of Images</h4>
          <table class="table">
            <thead>
              <tr>
                <th>Images</th>
                <th>Size</th>
              </tr>
            </thead>
            <tbody>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="card card-5">
      <div class="card-body">
        <div class="row mt-n3">
          <h4 class="font-weight-bold">News and Updates</h4>
        </div>
      </div>
    </div>
  </div>
</div>
